.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0px 12px;
    border-bottom: 1px solid rgb(230, 230, 230);
    overflow: hidden;
}
.left{
    display: flex;
    flex-direction: column;
        p{
        font-weight: bold;
        margin-bottom: 0;
    }
    span {
        font-size: 12px;
    }
}
.right{
    display: flex;
    align-items: center;
}